.Hiring_partners {
  background-color: #ffe9dd;
}

/* .divbox{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    align-items: center;
    
} */

/* .divbox {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px; 
  background-color: white;
  border-radius: 15px;
  padding: 7px;
} */

.Hiring_partners {
    background-color: #ffe9dd;
    overflow: hidden;
    padding:30px
  }
  

  .line1, .line2, .line3 {
    display: flex;
    width: 1540px; /* Adjust the width based on the number of boxes and their dimensions */
    overflow-x: auto;
  }
  
  .divbox {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; /* Add margin for spacing between boxes */
    background-color: white;
    border-radius: 15px;
    padding: 7px;
  }
.box1 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\8th_element.png");
}
.box2 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\birla_soft.jpeg");
}
.box3 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\cigniti.jpeg");
}
.box4 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\HETERO HEALTHCARE LIMITED.jpg");
}
.box5 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\PragmaEdge.png");
}
.box6 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\qaptia.png");
}
.box7 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\Quixy.png");
}
.box8 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\Teletext India Private Limited.png");
}
.box9 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\The D. E.png");
}

.box10 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\8th_element.png");
}
.box11 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\birla_soft.jpeg");
}
.box12 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\cigniti.jpeg");
}
.box13 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\HETERO HEALTHCARE LIMITED.jpg");
}
.box14{
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line1\PragmaEdge.png");
}



/* row*2*/
.box15 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\Accenture.png");
}
.box16 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\Commvault.png");
}
.box17 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\Dhan AI.png");
}
.box18 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\ht_labs.jpeg");
}
.box19 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\INVECAS.png");
}
.box20 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\kelton.jpeg");
}
.box21 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\lima ai.png");
}
.box22 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\Mindtree.png");
}
.box23 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\Technovert.png");
}
.box24 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\value_creed.jpeg");
}
.box25 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\value_labs.jpeg");
}
.box26 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\xilinx.jpeg");
}
.box27 {
    background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\Accenture.png");
  }
.box28 {
    background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line2\Commvault.png");
  }


/*row-3*/
.box29 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\Amista.png");
}
.box30 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\ca_technologies.jpeg");
}
.box31 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\CGI.png");
}
.box32 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\Citrix.png");
}
.box33 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\enhanz.jpeg");
}
.box34 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\GlobalLogic.png");
}
.box35 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\helicaltech_helical insight.png");
}
.box35 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\RightData.png");
}
.box36 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\Tata Consultancy Services.png");
}
.box37 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\thomsonreuters.jpeg");
}
.box38 {
  background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\zebra.jpeg");
}
.box39 {
    background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\Amista.png");
  }
  .box40 {
    background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\ca_technologies.jpeg");
  }
  .box41 {
    background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\CGI.png");
  }
  .box42 {
    background-image: url("D:\WebDevelopmentBootCamp\Landing_page_react\10k_landing_page\src\Assets\HiringPartners\line3\Citrix.png");
  }





/* Hiring_partners.css */

/* Add these styles to create a bidirectional marquee effect */
@keyframes bidirectionalMarquee {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  /* Apply the bidirectional marquee effect to line1 and line3 */
  .line1 div
 {
    animation: bidirectionalMarquee 5s linear infinite; /* You can adjust the duration and timing function as needed */
  }
  .line2 div {
    animation: bidirectionalMarquee 7s linear infinite; /* You can adjust the duration and timing function as needed */

  }
  .line3 div {
    animation: bidirectionalMarquee 9s linear infinite; /* You can adjust the duration and timing function as needed */

  }
  
  /* Your existing styles for boxes */
  .divbox {
    width: 50px;
    height: 50px;
    /* background-color: #3498db; */
    margin: 5px;
  }
  
  /* Your existing styles for other elements... */
  
  