@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


.footer_contact {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


